:root {
    --bg-color: #FFDE4D;
    --container-bg-color: #F3FEB8;
    --header-bg-color: #ffb22c;
    --footer-bg-color: #FF4C4C;
    color: var(--text)
}

header {
    background-color: var(--container-bg-color);
}

body {
    background-color: var(--bs);
}

.container,
.col-sm {
    background-color: var(--container-bg-color);
    display: grid;
}

#arcos-foto {
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.fotoHistoria {
    display: inline-block;
    height: 300px;
    width: auto;
    margin: auto;
}

.historia {
    padding-top: 5%;
}

ul,
h5 {
    list-style: none;
    margin: none;
}

h1 {
    text-align: center;
    background-color: var(--bg-color);
}

h2 {
    text-align: center;
    background-color: var(--bg-color);
}

.fotoVisita {
    width: 500px;
    height: auto;
    margin: 5% auto 5% auto;
}